{% extends "core/base.html" %}


{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}



{% block content %}

    <div class="flex items-center justify-center min-h-screen bg-gray-100">
        <div class="container bg-white shadow-lg p-8 rounded-lg" style="max-width: 500px; margin: 10 auto;">
            <h3 class="text-3xl font-semibold text-center text-gray-800">Login</h3>
            <!-- <h5 class="text-center text-gray-600 mb-6">Welcome back!</h5> -->
            <br>
            
            <form method="POST" autocomplete="off">
                {% csrf_token %}

                <!-- Username field -->
                <div class="mb-4">
                    <!-- <label for="id_username" class="block text-gray-700 font-semibold">Username</label> -->
                    <input type="text" name="username" id="id_username" class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" placeholder="Enter your username" required>
                    {{ form.username.errors }}
                </div>

                <!-- Password field -->
                <div class="mb-6">
                    <!-- <label for="id_password" class="block text-gray-700 font-semibold">Password</label> -->
                    <input type="password" name="password" id="id_password" class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" placeholder="Enter your password" required>
                    {{ form.password.errors }}
                </div>

                <button type="submit" class="w-full bg-gray-800 text-white p-3 rounded-lg hover:bg-gray-600 transition duration-200">
                    Login
                </button>
            </form>

            <br>
            <div class="text-center">
                <p class="text-gray-600">Don't have an account?</p>
                <a href="{% url 'register' %}" class="text-blue-500 hover:text-blue-700">Sign up</a>
            </div>
        </div>
    </div>
{% endblock %}
