{% extends "core/base.html" %}
{% load socialaccount %}

{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
    <div class="flex items-center justify-center min-h-screen bg-gray-100">
        <div class="container bg-white shadow-lg p-8 rounded-lg" style="max-width: 500px; margin: 10 auto;">
            <h3 class="text-3xl font-semibold text-center text-gray-800">Sign Up</h3>
            <br>

           

            <div class="flex items-center mb-6">
                <hr class="flex-1 border-t border-gray-300">
             
                <hr class="flex-1 border-t border-gray-300">
            </div>

            <!-- Signup Form -->
            <form method="POST" autocomplete="off">
                {% csrf_token %}

                <!-- Username field -->
                <div class="mb-4">
                    <input type="text" name="username" id="id_username" class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" placeholder="Enter your username" required>
                    {{ form.username.errors }}
                </div>

                <!-- Password1 field -->
                <div class="mb-4">
                    <input type="password" name="password1" id="id_password1" class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" placeholder="Enter your password" required>
                    {{ form.password1.errors }}
                </div>

                <!-- Password2 field -->
                <div class="mb-6">
                    <input type="password" name="password2" id="id_password2" class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" placeholder="Confirm your password" required>
                    {{ form.password2.errors }}
                </div>

                 <!-- Google Signup Button -->
            

                <button type="submit" class="w-full bg-gray-800 text-white p-3 rounded-lg hover:bg-gray-600 transition duration-200">
                    Register
                </button>
               
                <div class=" text-center px-4 text-gray-500">or</div>
               

                <div class="mb-6 text-center">
                    <a href="{% provider_login_url 'google' %}" class="flex items-center justify-center gap-2 bg-white text-gray-700 border border-gray-300 rounded-lg shadow-md py-2 px-4 hover:bg-gray-100 transition duration-200 font-semibold">
                        Sign Up with Google
                    </a>
                </div>

            </form>

            <br>
            <div class="text-center">
                <p class="text-gray-600">Already have an account?</p>
                <a href="{% url 'login' %}" class="text-blue-500 hover:text-blue-700">Login</a>
            </div>
        </div>
    </div>
{% endblock %}
