{% extends 'core/base.html' %}

{% block content %}

<h2 class="text-center text-2xl font-bold mt-10">Select Sellers to Schedule Meetings</h2>
<form method="post" action="{% url 'select-seller' %}">
    {% csrf_token %}
    <div class="mt-10 pl-10">
        {% for seller in sellers %}
            <div class="mb-6 flex items-center space-x-4">
                <input type="checkbox" name="sellers" value="{{ seller.id }}" id="seller-{{ seller.id }}" class="form-checkbox h-5 w-5 text-blue-500 border-gray-300 rounded focus:ring-blue-500"
                    {% if seller.id in selected_sellers_ids %} checked {% endif %}>
                <label for="seller-{{ seller.id }}" class="text-lg text-gray-700">{{ seller.company_name }}</label>
            </div>
        {% endfor %}
    </div>
    <div class="mt-10 text-center">
        <button type="submit" class="transition-colors duration-300 bg-white text-gray-800 w-4 p-3 border border-2 border-gray-700 hover:bg-gray-500 hover:text-white">
            Schedule Meetings
        </button>
    </div>
</form>
{% endblock %}
